@{
    ViewBag.Title = "About";
}
<h2>About the game</h2>

<p>Dog is a board game mainly known central Europe and Canada. In english speaking countries, DOG is better known as 'Tock' or 'Tuck', while french people best know it under 'Le jeu de toc'. Players race their meeples around the game board from start to finish. The is to be the first to take all of one's meeples "home". In comparization to the wide known swiss board game 'Eile mit Weile', it is played with playing cards rather than a dice. </p>

<h2>About us</h2>
<p>We are four computer science students studying at University of Applied Sciences in Rapperswil, Switzerland. This game is the result of a so called 'Software Engineering Project', which is required to be successfully completed by each computer science student at our school.</p>
