/* scale form input width */
input, select, textarea {
    max-width: 40vw;
}

/* ensure body height */
html, body {
    height: 100%;
}

.site-wrap {
    /*padding: 3vw!important;*/
    overflow: auto;
}

#gamePageOverlay {
    -ms-opacity: 0.8;
    opacity: 0.8;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #gamePageOverlay > .pageOverlayContent {
        z-index: 11;
        -ms-opacity: 1;
        opacity: 1;
        color: white;
        padding: 0.5vw;
        align-self: center;
        text-align: center;
    }

    #gamePageOverlay > .pageOverlayContent h1 {
          font-size: 10vw !important;
      
    }

    #gamePageOverlay > .pageOverlayContent > .loading {
        display: block;
    }

    #gamePageOverlay > .pageOverlayContent > .switchOrientation {
        display: none;
    }

#gameContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../Images/wood-min.jpg");
    background-size: cover;
}

    #gameContainer > #gameContent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 58%;
        height: 100%;
    }

        #gameContainer > #gameContent > canvas {
            display: flex !important;
            align-self: center;
        }

    #gameContainer > #sideContainer {
        float: left;
        width: 42%;
        height: 100%;
    }

#sideContainer > #playerInformation {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
    height: 9%;
    padding: 1vw;
}

#playerInformationMeepleColor {
    height: 100%;
}

#playerInformationMeepleColor > img {
    height: 100%;
}

#playerInformationName {
    font-size: 3vw;
    
}

#sideContainer > #cardContainer {
    float: left;
    width: 100%;
    height: 40%;
}

#sideContainer > #chatContainer {
    float: left;
    width: 100%;
    max-width: 100%;
    height: 50%;
    border: 0.2vw solid gray;
    overflow: hidden;
    background: slategray;
    background: rgba(00, 00, 00, .7);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

    #sideContainer > #chatContainer ul {
        color: white;
        overflow: auto;
        font-size: 1.5vw;
        margin: 0;
        padding-left: 1vw;
    }

    #sideContainer > #chatContainer > .input-group {
        align-self: flex-end;
        padding: 1vw;
        width: 100%;
        margin: 0;
    }

        #sideContainer > #chatContainer > .input-group > input {
            height: 4vw;
            font-size: 1.5vw;
            padding: 0!important;
            border-radius: 1vw!important;
        }

        #sideContainer > #chatContainer > .input-group > input[type=text] {
            width: 30vw;
        }
        #sideContainer > #chatContainer > .input-group > input[type=submit] {
            width: 8vw;
            float: right;
        }

#cardContainer > img {
    max-width: 33%;
    max-height: 50%;
}

footer {
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 1vw;
    bottom: 1vw;
    font-size: 1.2vw;
}

input.semi-transparent-input {
    background-color: #000000 !important;
    background-color: rgba(0,0,0,0.8) !important;
    border: none !important;
    color: white;
}

input.semi-transparent-button {
    background-color: #636363 !important;
    background-color: rgba(99,99,99,0.8) !important;
    border: 0.1vw solid white !important;
    color: white;
}

/* Navigation Menu - Background */
.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
}

/* Navigation Menu - List items */
.nav-item {
    /* non-critical appearance styles */
    right: 0;
    float: right;
    clear: both;
    width: 40vw;
    border-top: 0.1vw solid #111;
    border-bottom: 0.1vw solid #000;
}

    .nav-item a {
        display: block;
        padding: 3vw; 
        background: linear-gradient(135deg, rgba(0,0,0,0) 0,rgba(0,0,0,0.65) 100%);
        color: white;
        font-size: 3vw;
        text-decoration: none;
        -webkit-transition: color 0.5s, background 0.6s;
        -moz-transition: color 0.5s, background 0.6s;
        -ms-transition: color 0.5s, background 0.6s;
        -o-transition: color 0.5s, background 0.6s;
        transition: color 0.5s, background 0.6s;
    }

        .nav-item a:hover {
            color: rgb(8, 171, 224);
            background: linear-gradient(135deg, rgba(0,0,0,0) 0,rgba(0, 81, 99, 0.65) 100%);
        }

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
    height: 100%;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
    background-color: #dddddd; /* must have a background or else the navigation will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    right: 0;
    z-index: 1;
    padding: 0.1vw;
    background-image: radial-gradient(ellipse at center, #ffffff 0, #eeeeee 100%);
}

/* Nav Trigger */
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    right: 1.5vw;
    top: 1.5vw;
    z-index: 2;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' style='stroke:white' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    -ms-background-size: contain;
    background-size: contain;
}

label:hover {
    fill: #008cd1;
}

.nav-trigger + label, .site-wrap {
    -webkit-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -ms-transition: right 0.2s;
    -o-transition: right 0.2s;
    transition: right 0.2s;
}

.nav-trigger:checked + label {
    right: 41vw;
}

.nav-trigger:checked ~ .site-wrap {
    right: 40vw;
    -webkit-box-shadow: 0 0 0.5vw 0.5vw #000000;
    -ms-box-shadow: 0 0 0.5vw 0.5vw #000000;
    box-shadow: 0 0 0.5vw 0.5vw #000000;
    box-shadow: 0 0 0.5vw 0.5vw rgba(0,0,0,0.5);
}

body {
    /* Important: removes horizontal scroll bar when menu is open */
    overflow-x: hidden;
}

/* Micro reset */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, p {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.chooseGameTable {
    margin-left: 10%;
    width: 40%;
}

#joinTablebtn {
    float: right;
}

#gameTableItem {
    border-bottom-style: dashed;
    margin-top: 10px;
}

#gameTableName {
    font-weight: bold;
    margin-bottom: 0;
}
