@model dog2go.Models.ChooseTableViewModels
@{
    ViewBag.Title = "ChooseGameTable";
}

<h2>Choose your GameTable</h2>
<div id="gameTableOverview">
    <div class="chooseGameTable">
        @Html.EnumDropDownListFor(model => model.GameTableIdList)
    </div>
</div>

