@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>the new game</h1>
<script src="../../Scripts/phaser/phaser.js"></script>
<script src="../../Game/Logic/game.js"></script>


<div id="content"></div>