@using dog2go.Views.Extensions

<div id="gameContainer">
    <div id="gameContent"></div>
    <div id="sideContainer">
        <div id="cardContainer">add cards here</div>
        <div id="chatContainer">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            <ul id="chatBox"></ul>
        </div>
    </div>
</div>

@section scripts
{
    @Html.InitPageMainModule("Classes/GameStartupConfig")
}