@using dog2go.Views.Extensions
@model dog2go.Models.DisplayNameModel
@{
    ViewBag.Title = "Play";
}

<div id="gamePageOverlay">
    <div class="pageOverlayContent">
        <span class="loading"><h1>Loading...</h1></span>
        <span class="finished"><h1></h1></span>
        <span class="switchOrientation"><h1>Switch to landscape mode for a better user experience</h1></span>
    </div>
</div>
<div id="gameContainer">
    <div id="gameContent"></div>
    <div id="sideContainer">
        <div id="chatContainer">
            <ul id="chatBox"></ul>
            <div class="input-group">
                <input class="form-control semi-transparent-input" type="text" id="message" />
                <input type="submit" value="send" class="btn inline semi-transparent-button" id="sendmessage">

            </div>
            <input type="hidden" id="displayname" />
        </div>
        <div id="cardContainer"></div>
        <div id="playerInformation">
            <span id="playerInformationMeepleColor"><img src="~/Frontend/Images/@Model.ColorMeeplePath"/></span>
            <!--<span id="playerInformationMeepleColor"><img src="~/Frontend/Images/meeple_red.png" /></span>-->

            <span id="playerInformationName">@Model.DisplayUser.Nickname</span>
            @Html.HiddenFor(x => x.TableIdentifier, new {id = "gameIdentifier"})
        </div>
    </div>
</div>

@section scripts
{
    @Html.InitPageMainModule("Classes/GameStartupConfig")
}